<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <h1 class="title">Pokedex</h1>
    <div class="about">
        <p id="title-info">Hello, there! Glad to meet you! Welcome to the world of Pokémon!
             My name is Oak. People affectionately refer to me as the Pokémon Professor. 
             This world… …is inhabited far and wide by creatures called Pokémon! For some people, 
             Pokémon are pets. Other use them for battling. As for myself… I study Pokémon as a profession. 
             But first, tell me a little about yourself. Now tell me. Are you a boy? Or are you a girl? 
             Let's begin with your name. What is it? Right… So your name is player. This is my grandson. 
             He's been your rival since you both were babies. …Erm, what was his name now? …Er, was it rival? 
                That's right! I remember now! His name is rival! player! Your own very Pokémon legend is about to unfold!
              A world of dreams and adventures with Pokémon awaits! Let's go!</p>
       
    </div>
    <a href="/pokemons"><button id="view-all-button" class="button">VIEW ALL POKEMONS</button></a>
    <div id="top3-div">
        <h1 class="title">Top Pokemons</h1>

    </div>

    <script src="index.js" charset="utf-8"></script>

</body>
</html>